{{ define "main" }}

<h1>Blog</h1>

<p>
This is my personal blog where I write mostly about software, hardware
and things that matter to me. <a href="/about">(more)</a>
</p>
<br/>

<h1>Latest posts</h1>

{{ $posts := where (where .Site.RegularPages "Type" "posts") ".Params.private" "!=" true }}
{{ $paginator := .Paginate ($posts.ByDate.Reverse) }}

<div class="posts-list">
{{ range $paginator.Pages }}
    <div class="post">
        <p>
            <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </p>
    </div>
{{ end }}
</div>

{{ partial "pagination.html" . }}
{{ end }}
